<body class="contain">
<div class='box'>
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
</div>

<div id="card">
  <div id="card-content">
    <div id="card-title">
      <h2>ADMIN LOGIN</h2>
      <div class="underline-title"></div>
    </div>
    <form method="post" class="form" (ngSubmit)="onSubmit()">
      <label for="user-email" style="padding-top:13px">
        &nbsp;Email
      </label>
      <input id="user-email" class="form-content" type="email" name="email" [(ngModel)]="admin.username" autocomplete="on" required />
      <div class="form-border"></div>
      <label for="user-password" style="padding-top:22px">&nbsp;Password
      </label>
      <input id="user-password" class="form-content" type="password" name="password" [(ngModel)]="admin.password" required />
      <div class="form-border"></div>
      <input id="submit-btn" type="submit" name="submit" value="LOGIN" (click)="doLogin()" />
    </form>
  </div>
</div>
<router-outlet></router-outlet>
</body>


